.about__intro {
  font-family: 'Proxima Nova Th';
  font-size: 2.1334em;
  line-height: 1.1em;
  font-weight: 100;
  margin-bottom: 25px;
}

@media (max-width: 1170px) {
  .about__intro br {
    display: none;
  }
}

@media (max-width: 1170px) {
  .about__intro {
    text-align: center;
  }
}

.about__text {
  margin: 0 0 40px;
  font-family: 'Proxima Nova Rg';
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

@media (max-width: 1170px) {
  .about__text br {
    display: none;
  }
}

@media (max-width: 1170px) {
  .about__text {
    text-align: center;
    margin: 10px 0;
  }
}

.about__text_margin {
  margin: 0;
}
