.equipments-head {
  margin-bottom: 42px;
}

.equipments-row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1170px) {
  .equipments-row {
    flex-direction: column;
    justify-content: space-around;
  }
}

.equipments-block {
  margin-bottom: 65px;
}

.equipments-block:last-of-type {
  margin-bottom: 0;
}

.equipments-block__title {
  font-size: 2.53334em;
  margin-bottom: 8px;
}

@media (max-width: 1170px) {
  .equipments-block__title {
    text-align: center;
  }
}

.equipments-block__subtitle {
  line-height: 24px;
  color: #b8b8cd;
  font-weight: 400;
  margin-bottom: 26px;
}

@media (max-width: 1170px) {
  .equipments-block__subtitle {
    text-align: center;
  }
}

.equipments-params__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  position: relative;
}

.equipments-params__row:last-of-type {
  margin-bottom: 0;
}

.equipments-params__row::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 4px;
  left: 0;
  height: 2px;
  border-bottom: 1px dashed rgba(184, 184, 205, 0.45);
}

.equipments-params__row p {
  margin: 0;
  font-size: 0.93334em;
  color: #b8b8cd;
  opacity: 0.9;
  font-weight: 400;
}

.equipments-item {
  width: 263px;
}

@media (max-width: 1170px) {
  .equipments-item {
    margin: 10px auto;
  }
}

.equipments-item__img {
  background: #ffffff;
  display: flex;
  height: 241px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.equipments-item__img img {
  max-width: 100%;
}

.equipments-item__title {
  font-size: 1.6em;
  line-height: 31px;
  margin-bottom: 25px;
}
