.footer-row {
  max-width: 250px;
}

@media (max-width: 1170px) {
  .footer-row {
    margin: 0px auto;
    text-align: center;
  }
}

.footer-row__title {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Proxima Nova Th';
  margin-bottom: 18px;
  color: #ffffff;
  display: block;
}

.footer-row__title.link {
  margin-bottom: 22px;
}

.footer-row__list li {
  font-size: 13px;
  color: #a6a6bb;
  font-weight: 400;
  font-family: 'Proxima Nova Rg';
  opacity: 0.7;
  margin-bottom: 14px;
}

.footer-row__list li:last-of-type {
  margin-bottom: 0;
}

.footer-row__list li a {
  color: #ffffff;
}

.footer-desc {
  margin: 0;
  opacity: 0.34;
  font-size: 11px;
  font-weight: 400;
  font-family: 'Proxima Nova Rg';
}

.footer-btn {
  margin: 0;
  width: 225px;
  margin-bottom: 40px;
}

@media (max-width: 1170px) {
  .footer-btn {
    margin: 10px auto;
  }
}

.footer-phone {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 15px;
  display: inline-block;
}

.footer-contact__btn {
  margin: 0;
  margin-bottom: 40px;
}

@media (max-width: 1170px) {
  .footer-contact__btn {
    margin: 10px auto;
  }
}

.footer-socials {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

@media (max-width: 1170px) {
  .footer-socials {
    margin: 20px auto;
    width: max-content;
  }
}

.footer-socials__item {
  width: 37px;
  height: 37px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
}

.footer-socials__item:last-of-type {
  margin-right: 0;
}

.bottom-copy, .bottom-partner, .bottom-address {
  margin: 0;
  font-weight: 400;
  font-family: 'Proxima Nova Rg';
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1170px) {
  .bottom-copy, .bottom-partner, .bottom-address {
    text-align: center;
    margin: 10px 0;
  }
}

.bottom-copy i, .bottom-partner i, .bottom-address i {
  color: #f78f1e;
  margin-right: 11px;
}

.bottom-copy {
  margin-right: 144px;
}

@media (max-width: 1170px) {
  .bottom-copy {
    margin-right: 0;
  }
}

.bottom-copy span {
  color: #f78f1e;
}

.bottom-partner {
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media (max-width: 1170px) {
  .bottom-partner {
    margin: 10px auto;
    width: max-content;
  }
}

.bottom-partner img {
  margin-left: 9px;
}
