.header-top__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}

.header-top__contacts {
  display: flex;
  align-items: center;
}

.header-top__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-contacts__phone {
  font-size: 1.4667em;
  text-transform: uppercase;
  margin-right: 24px;
  color: #ffffff;
}

.header-contacts__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 157px;
  height: 26px;
  background: #f78f1e;
  color: #030216;
  border-radius: 5px;
  font-size: 0.8667;
}

.header-contacts__btn i {
  color: #06041b;
  opacity: 0.44;
  margin-right: 7px;
  transform: scaleX(-1) rotate(30deg);
}

.header-logo {
  display: flex;
  align-items: flex-end;
  margin-right: 50px;
  width: 222px;
}

.header-logo img {
  max-width: 100%;
}

.header-menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu li {
  margin-right: 57px;
  font-size: 1.0667;
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
}

.header-menu li:last-of-type {
  margin-right: 0;
}

.header-menu li a {
  color: #ffffff;
}

.header-lang {
  display: flex;
}

.header-lang__img {
  margin-right: 8px;
}

.header-lang__link {
  color: #ffffff;
  opacity: 0.3;
  text-transform: uppercase;
}

.header-lang__link.active {
  opacity: 1;
}

.header-lang__link:first-of-type {
  margin-right: 4px;
}
