@import "media";
.wrapper
	width: 100%
	display: flex
	justify-content: center
	position: relative
	color: #ffffff
	background-color: rgba(#040317, 1)
	&--header
		position: absolute
		top: 30px
		left: 0
		right: 0
		z-index: 3
		background-color: unset
	&--main
		padding-top: 200px
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
		padding-bottom: 110px
	&--services
		background-image: url(../img/services-bg.png)
		background-repeat: no-repeat
		background-size: cover
		padding-bottom: 36px
	&--service
		padding-top: 188px
		padding-bottom: 144px
		z-index: 2
		background-image: url(../img/service-bg.png)
		background-repeat: no-repeat
		background-size: cover
		background-position: center bottom
		@media (max-width: $media-pc)
			padding-bottom: 30px
	&--park
		// background-image: url(../img/park-bg.png)
		background-repeat: no-repeat
		background-size: cover
		padding-top: 36px
		padding-bottom: 60px
	&--about
		background-image: url(../img/about-bg.png)
		background-repeat: no-repeat
		background-size: cover
		padding-bottom: 154px
		padding-top: 0
		@media (max-width: $media-pc)
			padding-bottom: 30px
	&--footer
		background-color: #111129
		padding-top: 56px
		padding-bottom: 78px
		@media (max-width: $media-pc)
			padding-bottom: 30px
		&::before
			content: ''
			width: 100%
			height: 6px
			position: absolute
			top: 0
			background: #f78f1e
			left: 0
			right: 0
			display: block
			z-index: 3
	&--bottom
		background: #000017
		padding-top: 28px
		padding-bottom: 32px